@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---------------------- sidebar component ---------------------- */

.sidebar-container {
    .ps-sidebar-root {
        transition: all 0.4s ease-in-out !important;
    }

    .ps-menu-button {
        &:first-child:hover {
            background-color: transparent !important;
        }

        &.active,
        &:hover,
        &:focus {
            color: #1570EF;
            background-color: #f3f3f3 !important;
            border-radius: 15px;
        }
    }

    .css-1t8x7v1 > .ps-menu-button:hover,
    .css-1t8x7v1 > .ps-menu-button:focus {
        background-color: #f3f3f3 !important;
    }
}