@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');

.css-1evyvmv-MuiChartsSurface-root + div {
  display: none !important;
}
g.MuiChartsLegend-root.MuiChartsLegend-row.css-nsbw82-MuiChartsLegend-root {
  transform: translateY(92%) !important;
}

.css-1v3sa6v-MuiResponsiveChart-container > svg {
  transform: translateY(-12%) !important;
  font-family:"Inter, serif";
}
